bj/
apm_par
apm
src/apm_par.c.bck
.idea
cmake-build-debug/
apm_par_seq
obj/
dna/test.fa
dna/chr1.fa
apm_omp
dna/chr1_KI270710v1_random.fa
dna/chr6.fa
dna/chr6_GL000250v2_alt.fa
dna/chrY.fa
/src/apm_omp_mpi_cuda.cpp
